/*

-webkit-
-moz-
-o-
-ms-

*/
div {
  display: inline-block;
  margin: 5px;
}
.box {
  /*initial state*/
  height: 100px;
  width: 100px;
  background-color: pink;
}
.box02 {
  background-color: red;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -ms-transition-property: background-color;
  transition-property: background-color;

  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -ms-transition-duration: 1s;
  transition-duration: 1s;
}

.box02:hover {
  height: 100px;
  width: 100px;
  background-color: blue;
}

.box03 {
  background-color: blue;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -ms-transition-property: background-color;
  transition-property: background-color;

  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -ms-transition-duration: 1s;
  transition-duration: 1s;
}

.box03:hover {
  background-color: green;
}
/*Square to circle*/
.box04 {
  background-color: purple;
  border-radius: 0;
  -webkit-transition: border-radius 0.5s 0.17s, background-color 0.7s 0s;
  -moz-transition: border-radius 0.5s 0.17s, background-color 0.7s 0s;
  -o-transition: border-radius 0.5s 0.17s, background-color 0.7s 0s;
  -ms-transition: border-radius 0.5s 0.17s, background-color 0.7s 0s;
  transition: border-radius 0.5s 0.17s, background-color 0.7s 0s;

}

.box04:hover {
  border-radius: 50%;
  background-color: orange;
}
/*=============================================*/
