div{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: white;
}
.box {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #444;
  margin: 10px;
}
.skew .box {
  transition: transform 1s;
}
.skew .box00:hover {
  transform: skewX(20deg);
}

.skew .box01:hover {
  transform: skewY(-10deg);
}
/*==============================================*/
.scale .box {
  transition: transform 2s;
}
.scale .box00:hover {
  transform: scale(2,2);
}

.scale .box01:hover {
  transform: scale(0.5, 0.5);
}

.scale .box03:hover {
  transform: scaleX(1.5);
}
.scale .box04{
  transform: scaleY(1);

}
.scale .box04:hover {
  transform: scaleY(1.5);
}
/*=-=========================*/

.rotate .box {
  transition: transform 2s;
}

.rotate .box00:hover {
  transform: rotate(-90deg);
}

.rotate .box01:hover {
  transform: rotate(90deg);
}

.rotate .box02:hover {
  transform: rotate(360deg);
}
/*=-=========================*/

.translate .box {

}

.translate .box00 {
  background-color: lime;
  transition: transform 2s ease-in, background-color 2s;

}

.translate .box00:hover {
  background-color: orange;
  transform: translateX(324px) rotate(360deg);
}

.translate .box01:hover {
  transform: translate(0, -40px) ;
}
